
  <div class="container"id="dash">
    <div class="row">
      <div class="col">
        <div class="card" >
          <img src="" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Info</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/game.html" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" >
          <img src="" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Games</h5>
            <p class="card-text" ></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" >
          <img src="" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/dashboard" ng-click="signout()" class="btn btn-primary">Sign Out!</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12" ng-repeat="x in PGames">
        <p class="card-text" >{{x.game.userOne}} : {{x.game.userTwo}}</p>
      </div>

    </div>
  </div>
