
  <div class="row box">
    <div class="col">
        <canvas id="canvas" width="300px" height="300px" style="background: #fff; margin:20px"></canvas>
    </div>
  </div>
  <div class="row box mt-1 p-1">
    <div class="col-3">
      <button type="button" name="button" class="btn btn-primary btn-block">< Go back</button>
    </div>
  </div>
  <div class="row box mt-1 ">
    <div ng-show="winner || undefined" class=" col-12 box text-center">
      <h1>Game Over</h1>
      <h2>The winer of the game is:<b> {{winner}}</b></h2>
    </div>
    <div ng-show="draw || undefined" class="col-12 box- text-center">
      <h1>Game Over</h1>
      <h2>The Game has ended in a draw</h2>
    </div>
  </div>
